.container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
  text-align: center;
}
header p {
  background-color: rgba(254, 232, 175, 255);
}
p span {
  font-weight: 900;
}
h1 {
  text-align: center;
  font-size: 45px;
}

body {
  font-family: "Playfair", serif;
}

.image {
  margin-left: auto;
  margin-right: auto;
}

.image p {
  color: gray;
}
.featured {
  color: chocolate;
  margin-bottom: 0%;
}

.featuredbottom {
  margin-top: 0%;
}

hr {
  color: aqua;
}

.recipe p {
  font-weight: 900;
}
.method li {
  font-weight: 900;
}
